<div class="container">

  <h1><%= @cocktail.name %></h1>

  <%= link_to "Back to index", root_path %>
  <div class="row">
    <div class="col-sm-5 col-md-7">
      <h3>Recipe</h3>
      <table class="table ">
          <thead>
            <th>Ingredient</th>
            <th>Doses</th>
            <th class="d-flex justify-content-around">Delete</th>
            <th colspan="3"></th>
          </thead>
          <% @cocktail.doses.each do |dose| %>
            <tr>
              <td><%= dose.ingredient.name %></td>
              <td><%= dose.description %></td>
              <td>
                <%= link_to dose_path(dose), method: :delete, 
                  data: { confirm: "Delete item?" } do %>
                    <i class="fa fa-trash d-flex justify-content-around" ></i>
                <% end %>
              </td>
            </tr>
          <% end %>
      </table>
    </div>
    <div class="col-sm-8 col-md-4">
      <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
    </div>
  </div>
</div>